<template name="organizationProfile">
  {{# if Template.subscriptionsReady }}
    {{> organizationProfileHeader organization=organization }}
    <div class="container">
      <div class="tab-content">
        <div id="organization-apis" class="tab-pane fade in active">
          <label class="h3">
            {{_ 'organizationProfile_bigText_apisCount'  }}
          </label>
          <label>
            {{_ 'organizationProfile_smallText_apisCount' managedApisCount}}
          </label>
          {{> catalogueGrid apis=managedApis }}
        </div> <!-- /api-backend-details -->

        <div id="organization-settings" class="tab-pane fade">
          {{> organizationSettings organization=organization }}
        </div> <!-- /api-documentation -->
      </div>
    </div>
  {{/if}}
</template>
